/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/

/*********************
TYPEKIT
*********************/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

// font stacks
$sans-serif:        "Lato", "Open Sans", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$condensed:			"Helvetica Neue Bold Condensed", Helvetica, Arial, sans-serif;