/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Button Styles

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS

Quick video guide:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
	position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 1.35rem;
	font-weight: 700;
    line-height: 1;
    padding: 0.9rem 4rem;
    margin: 0.75rem 0 !important;
    cursor: pointer;
    text-align: center;
    clear: both;
    outline: none;
	@include transition(all 0.2s ease-in-out);
	@media only screen and (max-width: 767px) {
		padding: 1rem;
	}

	// hovering on the btn
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	} // end hover

	// clicking on the button
	&:active {
		top: 1px;
	} // end active
	
	a {
		color: inherit !important;
		text-decoration: inherit !important;
	}
	
	&.full {
		width: 100%;
	}
	
	&.half {
		width: 48%;
    	margin-right: 4%;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&.copy-s {
		padding-left: 2rem;
		padding-right: 2rem;
	}

} // end .button

.primary-btn, a.primary-btn {
	@extend %btn;
	background-color: $blue;
	border-color: $blue;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		color: $blue;
	}
	
	&.alt {
		border-color: $green;
		background-color: $green;
		color: $white;
		
		&:hover,
		&:focus {
			background-color: $white;
			color: $green;
		}
	}
}

.secondary-btn, a.secondary-btn {
	@extend %btn;
	background-color: $white;
	border-color: $meta-gray;
	color: $meta-gray;

	&:hover,
	&:focus {
		background-color: $meta-gray;
		color: $white;
	}
	
	&.alt {
		width: 50%;
		border: 3px solid $orange;
		font-weight: bold;
		
		&:hover,
		&:focus {
			background-color: $orange;
			color: $white;
		}
	}
}

.primary-link {
	position: relative;
	padding-left: 16px;
	
	&:before {
		font-family: "Font Awesome 5 Free";
		content: '\f054';
		font-weight: 900;
		font-size: 16px;
		position: absolute;
		left: 0;
		top: 1px;
	}
	
	&.blue {
		color: $blue;
	}
}

.secondary-link {
	position: relative;
	color: $blue;
	font-size: 1.2rem;
	
	&:hover, &:focus {
		color: $blue;
		text-decoration: underline;
	}
	
	&:before, &:after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 1.5rem;
		position: absolute;
		top: -4px;
	}
	
	&.prev {
		padding-left: 1.5rem;
		
		&:before {
			content: '\f053';
			left: 0;
		}
	}
	
	&.next {
		padding-right: 1.5rem;
		
		&:after {
			content: '\f054';
			right: 0;
		}
	}
}

.hover-anchor {
	display: block;
	transform: scale(0.9);
	@include transition(transform 0.3s ease-in-out);
	
	&:hover {
		transform: scale(1);
	}
}

.download {
	a {
		display: block;
		border-bottom: 1px solid $text-color;
		text-decoration: none;
		position: relative;
		padding-bottom: 1.2em;

		&:after {
			font-family: "Font Awesome 5 Free";
			content: '\f15c';
			color: $text-color;
			float: right;
			font-size: 18px;
			margin-left: -20px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}