/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Stylesheet

Import all the styles the standard stylesheet gets, only
without the media queries.

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
All the BASE styles are called already since IE can
read those. Below we import the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/
/*********************
TYPEKIT
*********************/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
VENDOR
*********************/
/*
.selector {
  @include prefix(transform, rotate(45deg), webkit ms);
}
*/
/*********************
CSS ANIMATIONS
*********************/
/*
@include keyframes(move-the-object) {
  0%   { left: 100px; }
  100% { left: 200px; }
}
*/
/*********************
BOX SHADOW
*********************/
/*********************
PLACEHOLDER
*********************/
/*
.foo {
  @include placeholder {
    color: green;
  }
}

@include placeholder {
  color: red;
}
*/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 13px; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/*********************
SLIDER STYLES
*********************/
div#n2-ss-2-align .nextend-thumbnail-default,
div#n2-ss-2-align .nextend-thumbnail-inner,
div#n2-ss-3-align .nextend-thumbnail-default,
div#n2-ss-3-align .nextend-thumbnail-inner {
  bottom: 1rem !important; }
  div#n2-ss-2-align .nextend-thumbnail-default .nextend-thumbnail-scroller-group > div,
  div#n2-ss-2-align .nextend-thumbnail-inner .nextend-thumbnail-scroller-group > div,
  div#n2-ss-3-align .nextend-thumbnail-default .nextend-thumbnail-scroller-group > div,
  div#n2-ss-3-align .nextend-thumbnail-inner .nextend-thumbnail-scroller-group > div {
    height: 4rem !important; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 14px; }

/*********************
FONT STYLES
*********************/
/*********************
HEADER STYLES
*********************/
.header {
  font-size: 0.8rem; }

#inner-header {
  position: relative; }

.logo {
  width: 270px;
  margin: 1.5rem 1.75rem 1.5rem 6rem;
  float: left; }
  body:not(.is-mobile) .logo {
    margin: 1.5rem 1.75rem; }

.social {
  margin: 1.1rem 1rem 1.1rem 0; }

.socket-nav {
  display: block;
  float: right;
  margin: 1.5rem 0;
  padding: 0; }
  .socket-nav li.menu-item {
    display: inline-block;
    margin: 0 10px; }
    .socket-nav li.menu-item a {
      color: #293180; }
      .socket-nav li.menu-item a:hover, .socket-nav li.menu-item a:focus {
        color: #7b599a; }

.welcome:not(h2) {
  float: right;
  clear: none;
  margin: 1.5rem 1rem; }

/*********************
NAVIGATION STYLES
*********************/
.search-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em; }
  .search-box #s {
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    padding: 0;
    width: 190px;
    font-size: 0.675rem; }
    .search-box #s::-webkit-input-placeholder {
      color: #fff; }
    .search-box #s:-moz-placeholder {
      color: #fff; }
    .search-box #s::-moz-placeholder {
      color: #fff; }
    .search-box #s:-ms-input-placeholder {
      color: #fff; }
  .search-box button {
    top: 1px;
    left: -2px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff; }

body:not(.is-mobile) .nav .menu-item {
  display: inline-block; }
  body:not(.is-mobile) .nav .menu-item a {
    text-decoration: none; }
body:not(.is-mobile) .menu-button {
  display: none; }
body:not(.is-mobile) .primary-nav {
  position: relative;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  max-height: none;
  top: auto;
  border: none;
  background: #293180;
  text-align: center;
  overflow: visible;
  /* end .menu li */
  /* highlight current page */ }
  body:not(.is-mobile) .primary-nav li {
    padding: 0 1.5rem;
    font-size: 1.15rem;
    margin: 0; }
    body:not(.is-mobile) .primary-nav li a {
      font-size: .8rem; }
    body:not(.is-mobile) .primary-nav li.mobile-links {
      display: none; }
  body:not(.is-mobile) .primary-nav > li {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    body:not(.is-mobile) .primary-nav > li a {
      color: #fff;
      border: none; }
    body:not(.is-mobile) .primary-nav > li:hover, body:not(.is-mobile) .primary-nav > li:focus {
      background: #7b599a; }
      body:not(.is-mobile) .primary-nav > li:hover ul.sub-menu,
      body:not(.is-mobile) .primary-nav > li:hover ul.children, body:not(.is-mobile) .primary-nav > li:focus ul.sub-menu,
      body:not(.is-mobile) .primary-nav > li:focus ul.children {
        opacity: 1;
        visibility: visible; }
    body:not(.is-mobile) .primary-nav > li ul.sub-menu,
    body:not(.is-mobile) .primary-nav > li ul.children {
      position: absolute;
      left: 0;
      width: 260px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      max-height: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      /* highlight sub-menu current page */ }
      body:not(.is-mobile) .primary-nav > li ul.sub-menu li,
      body:not(.is-mobile) .primary-nav > li ul.children li {
        border-bottom: 1px solid #999999; }
        body:not(.is-mobile) .primary-nav > li ul.sub-menu li a,
        body:not(.is-mobile) .primary-nav > li ul.children li a {
          color: #000; }
          body:not(.is-mobile) .primary-nav > li ul.sub-menu li a:hover, body:not(.is-mobile) .primary-nav > li ul.sub-menu li a:focus,
          body:not(.is-mobile) .primary-nav > li ul.children li a:hover,
          body:not(.is-mobile) .primary-nav > li ul.children li a:focus {
            color: #7b599a; }
        body:not(.is-mobile) .primary-nav > li ul.sub-menu li:last-child,
        body:not(.is-mobile) .primary-nav > li ul.children li:last-child {
          border-bottom: 4px solid #293180; }
      body:not(.is-mobile) .primary-nav > li ul.sub-menu li.current-menu-item a,
      body:not(.is-mobile) .primary-nav > li ul.sub-menu li.current_page_item a,
      body:not(.is-mobile) .primary-nav > li ul.sub-menu li.current_page_ancestor a,
      body:not(.is-mobile) .primary-nav > li ul.children li.current-menu-item a,
      body:not(.is-mobile) .primary-nav > li ul.children li.current_page_item a,
      body:not(.is-mobile) .primary-nav > li ul.children li.current_page_ancestor a {
        color: #7b599a; }
  body:not(.is-mobile) .primary-nav > li.current_page_item,
  body:not(.is-mobile) .primary-nav > li.current-menu-ancestor,
  body:not(.is-mobile) .primary-nav > li.current-menu-item,
  body:not(.is-mobile) .primary-nav > li.current_page_ancestor {
    background: #7b599a; }

/*********************
POSTS & CONTENT STYLES
*********************/
.featured-image {
  width: 100%;
  margin-left: auto; }

.page-title {
  font-size: 1rem; }

.entry-content {
  padding: 3rem;
  font-size: 1rem; }
  .entry-content ul.col-2 {
    padding: 0; }
    .entry-content ul.col-2 li {
      width: 48%;
      display: inline-block; }

.vc_row.hero-wrapper .wpb_text_column {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  background: none;
  padding: 0; }
  .vc_row.hero-wrapper .wpb_text_column h1 {
    font-size: 2em;
    font-weight: 400;
    color: #fff; }
.vc_row.null-gaps .wpb_content_element,
.vc_row.null-gaps .vc_col-sm-4 .vc_column-inner,
.vc_row.null-gaps .vc_col-sm-8 .vc_column-inner {
  margin: 0;
  padding: 0; }
.vc_row.null-gaps p, .vc_row.null-gaps p:last-child {
  margin-top: 0; }

/*********************
LAYOUT & GRID STYLES
*********************/
.flex {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flex .flex-panel {
    width: 33.333%; }

.gallery.gallery-columns-2 .gallery-item {
  width: 50%; }

/*********************
SIDEBARS & ASIDES
*********************/
.widgettitle {
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px; }
  .widget ul li {
    margin-bottom: 0.75em; }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/
html {
  font-size: 15px; }

.wrap {
  width: 930px; }

/******************************************************************
ADDITIONAL IE FIXES
For more info on using Modernizr classes:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example:

.no-textshadow .class { ... }

Can also target specific versions by using the classes applied to
the html element. Check header.php file to see what they are:

.lt-ie8 .class { ... }

*/
